@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
	right: 0;
	border-color: #fde68a;
}
.toggle-checkbox:checked + .toggle-label {
	background-color: #fde68a;
}

input[type='date']::-webkit-calendar-picker-indicator {
	display: flex;
	justify-content: center;
}
